<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>FallingTree1.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,744},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree10.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,186},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree11.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,124},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree12.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,62},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree13.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,0},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree14.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,744},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree15.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,682},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree16.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,620},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree17.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,558},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree18.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,496},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree19.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,434},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree2.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,682},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree20.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,372},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree21.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,310},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree22.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,248},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree23.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,186},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree24.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,124},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree25.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,62},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree26.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,0},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree27.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,744},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree28.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,682},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree29.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,620},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree3.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,620},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree30.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,558},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree31.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,496},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree32.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,434},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree33.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,372},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree34.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,310},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree35.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,248},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree36.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,186},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree37.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,124},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree38.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,62},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree39.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,0},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree4.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,558},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree40.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,744},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree41.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,0},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree42.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,682},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree43.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,620},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree44.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,558},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree45.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,496},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree46.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,434},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree47.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,372},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree48.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,310},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree49.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,248},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree5.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,496},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree50.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,186},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree51.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,124},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree52.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,62},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree53.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,0},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree54.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,744},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree55.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,682},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree56.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,620},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree57.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,558},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree58.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,496},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree59.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,434},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree6.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,434},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree60.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,372},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree61.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,310},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree62.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,248},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree63.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,186},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree64.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,124},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree65.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,62},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree66.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,0},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree67.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,744},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree68.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,682},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree69.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,620},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree7.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,372},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree70.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,558},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree71.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,496},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree72.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,434},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree73.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,372},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree74.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,310},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree75.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,248},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree76.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,186},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree77.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,124},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree78.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,62},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree79.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree8.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,310},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

			<key>FallingTree9.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,248},{122,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,61}}</string>
				<key>sourceSize</key>
				<string>{122,61}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{738,806}</string>
			<key>textureFileName</key>
			<string>FallingTree.png</string>
			</dict>
		</dict>
</plist>