<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>explosions_effect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2604,0},{589,818}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{589,818}}</string>
				<key>sourceSize</key>
				<string>{589,818}</string>
			</dict>

			<key>explosions_effect2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1585,0},{1018,1160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1018,1160}}</string>
				<key>sourceSize</key>
				<string>{1018,1160}</string>
			</dict>

			<key>explosions_effect3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1580,1438},{1235,1322}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1235,1322}}</string>
				<key>sourceSize</key>
				<string>{1235,1322}</string>
			</dict>

			<key>explosions_effect4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1584,1437}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1584,1437}}</string>
				<key>sourceSize</key>
				<string>{1584,1437}</string>
			</dict>

			<key>explosions_effect5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1438},{1579,1111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1579,1111}}</string>
				<key>sourceSize</key>
				<string>{1579,1111}</string>
			</dict>

			<key>explosions_effect6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2550},{1100,718}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1100,718}}</string>
				<key>sourceSize</key>
				<string>{1100,718}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{3194,3269}</string>
			<key>textureFileName</key>
			<string>explosions_effect.png</string>
			</dict>
		</dict>
</plist>