<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>BulletPlayer3Game1.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,396},{50,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,31},{50,182}}</string>
				<key>sourceSize</key>
				<string>{64,252}</string>
			</dict>

			<key>BulletPlayer3Game10.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,205},{48,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,30},{48,186}}</string>
				<key>sourceSize</key>
				<string>{64,252}</string>
			</dict>

			<key>BulletPlayer3Game11.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,0},{50,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,27},{50,197}}</string>
				<key>sourceSize</key>
				<string>{64,252}</string>
			</dict>

			<key>BulletPlayer3Game12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{52,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,27},{52,204}}</string>
				<key>sourceSize</key>
				<string>{64,252}</string>
			</dict>

			<key>BulletPlayer3Game13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,397},{52,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,28},{52,185}}</string>
				<key>sourceSize</key>
				<string>{64,252}</string>
			</dict>

			<key>BulletPlayer3Game14.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,398},{50,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,30},{50,186}}</string>
				<key>sourceSize</key>
				<string>{64,252}</string>
			</dict>

			<key>BulletPlayer3Game15.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,579},{50,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,29},{50,190}}</string>
				<key>sourceSize</key>
				<string>{64,252}</string>
			</dict>

			<key>BulletPlayer3Game16.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,582},{48,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,27},{48,198}}</string>
				<key>sourceSize</key>
				<string>{64,252}</string>
			</dict>

			<key>BulletPlayer3Game17.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,583},{51,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,28},{51,176}}</string>
				<key>sourceSize</key>
				<string>{64,252}</string>
			</dict>

			<key>BulletPlayer3Game18.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,0},{49,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,30},{49,180}}</string>
				<key>sourceSize</key>
				<string>{64,252}</string>
			</dict>

			<key>BulletPlayer3Game19.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,404},{49,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,27},{49,177}}</string>
				<key>sourceSize</key>
				<string>{64,252}</string>
			</dict>

			<key>BulletPlayer3Game2.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,594},{49,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,28},{49,186}}</string>
				<key>sourceSize</key>
				<string>{64,252}</string>
			</dict>

			<key>BulletPlayer3Game20.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,398},{50,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,31},{50,181}}</string>
				<key>sourceSize</key>
				<string>{64,252}</string>
			</dict>

			<key>BulletPlayer3Game21.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,585},{50,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,28},{50,190}}</string>
				<key>sourceSize</key>
				<string>{64,252}</string>
			</dict>

			<key>BulletPlayer3Game22.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,582},{48,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,28},{48,197}}</string>
				<key>sourceSize</key>
				<string>{64,252}</string>
			</dict>

			<key>BulletPlayer3Game23.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,0},{48,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,27},{48,204}}</string>
				<key>sourceSize</key>
				<string>{64,252}</string>
			</dict>

			<key>BulletPlayer3Game24.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,780},{48,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,28},{48,207}}</string>
				<key>sourceSize</key>
				<string>{64,252}</string>
			</dict>

			<key>BulletPlayer3Game25.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,781},{49,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,27},{49,193}}</string>
				<key>sourceSize</key>
				<string>{64,252}</string>
			</dict>

			<key>BulletPlayer3Game26.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,404},{49,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,29},{49,189}}</string>
				<key>sourceSize</key>
				<string>{64,252}</string>
			</dict>

			<key>BulletPlayer3Game27.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,765},{51,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,28},{51,195}}</string>
				<key>sourceSize</key>
				<string>{64,252}</string>
			</dict>

			<key>BulletPlayer3Game28.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,583},{51,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,28},{51,181}}</string>
				<key>sourceSize</key>
				<string>{64,252}</string>
			</dict>

			<key>BulletPlayer3Game29.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,200},{49,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,27},{49,189}}</string>
				<key>sourceSize</key>
				<string>{64,252}</string>
			</dict>

			<key>BulletPlayer3Game3.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,760},{51,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,29},{51,191}}</string>
				<key>sourceSize</key>
				<string>{64,252}</string>
			</dict>

			<key>BulletPlayer3Game30.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,205},{52,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,29},{52,191}}</string>
				<key>sourceSize</key>
				<string>{64,252}</string>
			</dict>

			<key>BulletPlayer3Game31.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,776},{50,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,33},{50,172}}</string>
				<key>sourceSize</key>
				<string>{64,252}</string>
			</dict>

			<key>BulletPlayer3Game4.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,0},{51,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,30},{51,192}}</string>
				<key>sourceSize</key>
				<string>{64,252}</string>
			</dict>

			<key>BulletPlayer3Game5.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,198},{50,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,28},{50,197}}</string>
				<key>sourceSize</key>
				<string>{64,252}</string>
			</dict>

			<key>BulletPlayer3Game6.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,193},{51,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,27},{51,204}}</string>
				<key>sourceSize</key>
				<string>{64,252}</string>
			</dict>

			<key>BulletPlayer3Game7.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,770},{50,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,29},{50,190}}</string>
				<key>sourceSize</key>
				<string>{64,252}</string>
			</dict>

			<key>BulletPlayer3Game8.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,0},{50,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,27},{50,199}}</string>
				<key>sourceSize</key>
				<string>{64,252}</string>
			</dict>

			<key>BulletPlayer3Game9.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,200},{50,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,29},{50,203}}</string>
				<key>sourceSize</key>
				<string>{64,252}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>BulletPlayer3Game.png</string>
			</dict>
		</dict>
</plist>