<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Canon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,1559},{313,521}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,6},{313,521}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

			<key>Canon10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{349,517}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,6},{349,517}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

			<key>Canon11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,518},{340,518}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,6},{340,518}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

			<key>Canon12.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,1557},{333,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,6},{333,520}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

			<key>Canon13.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,523},{322,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,6},{322,520}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

			<key>Canon14.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,0},{319,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,6},{319,520}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

			<key>Canon15.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,1044},{320,521}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,6},{320,521}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

			<key>Canon16.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,1566},{320,521}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,6},{320,521}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

			<key>Canon17.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,521},{318,518}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,6},{318,518}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

			<key>Canon18.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,1040},{318,518}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,6},{318,518}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

			<key>Canon19.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,0},{322,522}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,6},{322,522}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

			<key>Canon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1933,1570},{312,522}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,5},{312,522}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

			<key>Canon20.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,1039},{305,513}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,6},{305,513}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

			<key>Canon21.png</key>
			<dict>
				<key>frame</key>
				<string>{{2247,1042},{303,515}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{35,5},{303,515}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

			<key>Canon22.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,0},{304,516}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,5},{304,516}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

			<key>Canon23.png</key>
			<dict>
				<key>frame</key>
				<string>{{2247,523},{306,518}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,5},{306,518}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

			<key>Canon24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1622,524},{308,519}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,5},{308,519}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

			<key>Canon25.png</key>
			<dict>
				<key>frame</key>
				<string>{{2246,1570},{310,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,5},{310,520}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

			<key>Canon26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1936,0},{312,522}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,5},{312,522}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

			<key>Canon27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1933,524},{313,523}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,5},{313,523}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

			<key>Canon28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1622,0},{313,523}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,5},{313,523}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

			<key>Canon29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1308,521},{313,522}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,6},{313,522}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

			<key>Canon3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1933,1048},{313,521}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,5},{313,521}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

			<key>Canon30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1619,1044},{313,522}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,6},{313,522}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

			<key>Canon31.png</key>
			<dict>
				<key>frame</key>
				<string>{{1619,1044},{313,522}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,6},{313,522}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

			<key>Canon32.png</key>
			<dict>
				<key>frame</key>
				<string>{{1619,1044},{313,522}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,6},{313,522}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

			<key>Canon33.png</key>
			<dict>
				<key>frame</key>
				<string>{{1619,1044},{313,522}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,6},{313,522}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

			<key>Canon4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1619,1567},{313,521}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,5},{313,521}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

			<key>Canon5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1309,0},{312,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,5},{312,520}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

			<key>Canon6.png</key>
			<dict>
				<key>frame</key>
				<string>{{989,1559},{315,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{23,5},{315,520}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

			<key>Canon7.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,518},{324,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,5},{324,520}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

			<key>Canon8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1557},{333,518}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,6},{333,518}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

			<key>Canon9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1037},{338,519}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,5},{338,519}}</string>
				<key>sourceSize</key>
				<string>{370,544}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2557,2093}</string>
			<key>textureFileName</key>
			<string>Canon.png</string>
			</dict>
		</dict>
</plist>